<!-- <div class="container" style="height: 420px">
<div id="map1" style="height: 400px"></div>
</div>

<script type="text/javascript" src="js/custom/map1.js"></script> -->

<!-- MAPS WITH GOOGLE API -->

<div id="map1" style="height: 500px"></div>

<!-- <script type="text/javascript" src="js/custom/map1.js"></script> -->

<!-- <script type="text/javascript">
	
function initMap() {
        var map = new google.maps.Map(document.getElementById('map1'), {
          zoom: 6,
          center: {lat: -33.872, lng: 151.252},
        });

        // Define the LatLng coordinates for the outer path.
        var outerCoords = [
          {lat: -32.364, lng: 153.207}, // north west
          {lat: -35.364, lng: 153.207}, // south west
          {lat: -35.364, lng: 158.207}, // south east
          {lat: -32.364, lng: 158.207}  // north east
        ];

        // Define the LatLng coordinates for an inner path.
        var innerCoords1 = [
          {lat: -33.364, lng: 154.207},
          {lat: -34.364, lng: 154.207},
          {lat: -34.364, lng: 155.207},
          {lat: -33.364, lng: 155.207}
        ];

        // Define the LatLng coordinates for another inner path.
        var innerCoords2 = [
          {lat: -33.364, lng: 156.207},
          {lat: -34.364, lng: 156.207},
          {lat: -34.364, lng: 157.207},
          {lat: -33.364, lng: 157.207}
        ];

        map.data.add({geometry: new google.maps.Data.Polygon([outerCoords,
                                                              innerCoords1,
                                                              innerCoords2])})
      }

</script> -->

<script type="text/javascript">
	
    var map;

function initMap() {
  map = new google.maps.Map(document.getElementById('map1'), {
    zoom: 7,
    center: {lat: 10, lng: -11},
   // center: new google.maps.LatLng(2.8,-187.3),
    mapTypeId: 'terrain'
  });
  
   var json;

  map.data.loadGeoJson('js/custom/guinea.json');

     $.getJSON('js/custom/facilities.json', function(response){
       json = response;
      
      // LE FORMAT DU JSON A CHANGER EN REMPLACANT LES " en vide           

     for (var i = 0; i < json.organisationUnits.length; i++) {
            
          var str = json.organisationUnits[i].coordinates;

          if (typeof str != 'undefined' && str) {
            
            console.debug("1 : " + str);
            var test = str.substring(1, str.length-1);
            console.debug("2 : " + test);
            var coords = test.split(",");
            console.debug("3 : " + coords);
            console.debug("Lat : " + coords[1]);
            console.debug("Ln : " + coords[0]);
                     
                var la = parseFloat(coords[1]);
                var ln = parseFloat(coords[0]);
                var facility = {lat: la, lng: ln};
                var marker = new google.maps.Marker({
                     position: facility,
                     map: map
                     });
          }
      }

       });         
}

    /*  map.data.loadGeoJson(
            'https://storage.googleapis.com/mapsdevsite/json/google.json');
      } */
 // map.data.loadGeoJson('js/custom/data.json');
// map.data.load('js/custom/data.json');
  // Create a <script> tag and set the USGS URL as the source.
  //var script = document.createElement('script');
  // This example uses a local copy of the GeoJSON stored at
  // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
 // script.src = 'js/custom/json.js';
  //document.getElementsByTagName('head')[0].appendChild(script);3

// Loop through the results array and place a marker for each
// set of coordinates.
/*window.eqfeed_callback = function(results) {
  console.debug("results :");
  console.debug(results.features);
  for (var i = 0; i < results.features.length; i++) {
    var coords = results.features[i].geometry.coordinates;
    var latLng = new google.maps.LatLng(coords[1],coords[0]);
    var marker = new google.maps.Marker({
      position: latLng,
      map: map
    });
  }
} */
</script>

 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDfV2nv9WQzKt2ILlubQ9etLh1Lc_1Trw&callback=initMap" type="text/javascript">
 </script>